* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Poppins';
}

:root {
    --color-principal:rgb(40, 53, 170); 
}

.lineaSuperior{
    height: 3px;
    background-color: var(--color-principal);
}

/* header */
header {
    box-shadow: 0px 2px 5px grey;
    overflow-y: auto;
}

header .logo {
    float: left;
    width: 12%;
    margin: 0.9% 0.7%;
    border-right: 1px solid var(--color-principal);
    padding-right: 15px;
}

header h2 {
    margin-top: 0.5%;
    font-size: 1.2em;
    float: left;
}

header div a {
    float: left;
}