/*Ejer 1*/
:root {
    --color-primario: #56bd49;
    --color-secundario: #d9534f;
    --gris-claro: #f4f4f4;
    --texto-oscuro: #333;
    --blanco: #fff;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--gris-claro);
    color: var(--texto-oscuro);
    width: 90%;
    max-width: 1200px;
}

h1, h2, h3 {
    color: var(--color-primario);
}

a {
    color: var(--color-primario);
    text-decoration: none;
}

/* Maquetación con Float */
main {
    overflow: auto;
}
nav ul {
    list-style: none;
    padding: 0;
    background: var(--texto-oscuro);
    text-align: center;
    border-radius: 8px;
}
nav li {
    display: inline-block;
}
nav a {
    display: block;
    padding: 15px;
    color: var(--blanco);
}

article { 
    width: 65%; 
    float: left; 
    box-sizing: border-box; 
    padding-right: 20px;
}

aside { 
    width: 35%; 
    float: right; 
    box-sizing: border-box; 
}

.info-nutricional, form { 
    clear: both; 
        padding-top: 20px; 
}

article, aside, .info-nutricional, form {
    background: var(--blanco);
    border-radius: 8px;
    margin-bottom: 20px;
}

table { 
    width: 100%; 
    border-collapse: 
    collapse; 
}
th, td { 
    padding: 8px; 
    border: 1px solid #ddd; 
    text-align: left;
}

th { 
    background-color: var(--color-primario);
    color: var(--blanco); 
}

button { 
    padding: 10px 15px; 
    border: none; 
    background-color: var(--color-primario);
    color: var(--color-primario);  
    cursor: pointer; 
    border-radius: 5px;
}

input[type="text"], input[type="email"] { 
    width: 90%; 
    padding: 8px; 
}

footer { 
    clear: both; 
    text-align: center; 
    padding: 20px; 
    margin-top: 20px; 
    border-top: 1px solid #ccc; 
}

/* Ejer 2 */
nav a:hover {
    background-color: var(--color-secundario);
}

/* Ejer 3*/
section:target h2{
    color: var(--color-secundario);
    text-decoration: underline;
}

/* Ejer 4 */
input[type="email"]:required {
    border-left: 5px solid var(--color-primario);
}

/* Ejer 5 */
form input:invalid{
    border: 5px solid red;
}

/* Ejer 6 */
input[type="radio"]:checked + label, input[type="checkbox"]:checked +label {
    font-weight: bold;
    color: var(--color-primario);
}

/* Ejer 7 */

input[type="checkbox"]:disabled + label{
    color: var(--texto-oscuro);
    text-decoration: line-through;
}

/* Ejer 8 */
.ingredientes ul li:not(:has(span)) {
    font-weight: bold;
    color: var(--color-secundario);
}

/* Ejer 9 */
tbody tr:nth-child(odd) {
    background-color: var(--color-secundario);
}

/* Ejer 10 */
tbody tr td:first-child, thead tr th:first-child {
    text-align: end;
}

/* Ejer 11 */
div p:only-child {
    border-left: 2px solid var(--color-secundario);
}

/* Ejer 12 */
aside p:empty::after {
    content: "Más consejos próximamente...";
}

/* Ejer 13 */
.pasos li:nth-child(-n+3) {
    color: #2a642a;
} 

/* Ejer 14 */
.pasos li:nth-last-child(-n+3) {
    color: #005a9c
}

/* Ejer 15 */
h2::after {
    content: " »";
    color: var(--color-primario);
}

/* Ejer 16 */

aside div:nth-of-type(2) {
    background-color: #fffbe6;
}

/* Ejer 17 */
.ingredientes ul li::marker {
    color: var(--color-primario);
}

/* Ejer 18 */
div p:first-child:first-letter {
    font-size: 6em;
    color: var(--color-secundario);
}

/* Ejer 19 */
div p:first-child:first-line {
    font-variant: small-caps;
}

/* Ejer 20 */
*::selection {
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
