.ej1:hover {
    background-color: green;
    color: white;
    transition: all 0.4s ease-in-out;
}

.ej1 {
    background-color: blue;
}

/* ------------------------------------------------------------- */

.ej2:hover {
    opacity: 0.7;
    transition: all 0.5s;
    transform: scale(1.1);
}

/* ------------------------------------------------------------- */

.ej3 {
    width: 200px;
    height: 100px;
    background-color: blue;
}

.ej3 div:first-child{
    width: 90px;
    height: 40px;
    background-color: green;
}

.ej3 div:nth-child(2){
    width: 90px;
    height: 40px;
    background-color: purple;
}

.ej3:hover div:first-child {
    background-color: yellow;
}

.ej3:hover div:nth-child(2) {
    transition: 0.3s;
    background-color: brown;
}

/* ------------------------------------------------------------- */

.ej5 {
    width: 200px;
    height: 100px;
    background-color: rgb(12, 104, 4);
}

.ej5:hover {
    transform: translate(50px,20px);
    transition: 0.3s;
}

/* ------------------------------------------------------------- */
.ej6 {
    width: 10%;
}

.ej6:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}

/* ------------------------------------------------------------- */
.ej7 {
    background-color: yellow;
    width: 30%;
}

.ej7:hover {
    transform: skew(15deg, -10deg);
}

/* ------------------------------------------------------------- */
.ej8 {
    width: fit-content;
}
.ej8:hover {
    transform: translate(100px,0px) scale(1.2) rotate(45deg);
    transition: all 0.5s ease;
}

/* ------------------------------------------------------------- */
.ej9 {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    background-color: aquamarine;
}

.ej9:hover {
     transform: rotateY(180deg);
}

.ej9 div {
    backface-visibility: hidden; 
}

.ej9 div:nth-child(2) {
    transform: rotateY(180deg);
}

/* ------------------------------------------------------------- */
.ej10 {
    background-color: red;
    width: 10%;
    height: 100px;
    perspective: 600px;
}

.ej10:hover {
    transform: rotateX(90deg);
    transform-origin: top center; 
}
/* ------------------------------------------------------------- */
.ej11 {
    box-shadow: 0px 0px 10px red;
}

.ej11:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 5px red;
}
/* ------------------------------------------------------------- */
.ej12 {
    border-radius: 50%;
    background-color: purple;
    width: 100px;
    height: 100px;
    animation-duration: 2s;
    animation-name: pulsar;
    /* para que la animacion sea infinita */
    animation-iteration-count: infinite;
    /* para que vaya alternando de 0 a 100 y de 100 a 0 */
    animation-direction: alternate;
}

@keyframes pulsar {
    0%{
        transform: scale(1);
        opacity: 1;
    }

    100%{
        transform: scale(1.1);
        opacity: 0.7;
    }
}

/* ------------------------------------------------------------- */
.ej13 {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: desliza;
    width: fit-content;
    position: relative;
}

@keyframes desliza {
    0% {
        left: 0%;
    }

    100%{
        left: 50%;
    }
}

/* ------------------------------------------------------------- */
.ej14 {
    height: 100px;
    width: 100px;
    background-color: burlywood;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: pelota;
    animation-duration: 1s;
}

@keyframes pelota { 
    0% {
        transform: translate(0px);
    }
    50%{
        transform: translate(0,-50px);
    }
    100% {
        transform: translate(0);
    }
}

/* ------------------------------------------------------------- */
.ej15 {
    height: 100px;
    width: 100px;
    background-color: rgb(245, 63, 50);
    margin: 50px 50px;

    animation-duration: 4s, 2s;
    animation-name: girar, cambiarColor;
    animation-iteration-count: infinite, infinite;
    animation-timing-function: linear, normal;
    animation-fill-mode: forwards, normal;
}

@keyframes girar {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cambiarColor {
    0%{
        background-color: rgb(245, 63, 50);
    }
    100%{
        background-color: rgb(99, 99, 253);
    }
}

/* ------------------------------------------------------------- */
.ej16 {
  width: 100px;
  height: 100px;
}

.ej16 .borde {
  stroke: #000;
  stroke-width: 6;
  fill: none;
}
.ej16 .stroke {
  stroke: #000;
  stroke-width: 8;
}

.ej16 .linea {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.ej16:hover .borde,
.ej16:hover .stroke { stroke: #e00000; }

.ej16:hover .centro { opacity: 0; }

.ej16:hover .sup {
    transform: translateY(20px)  rotate(45deg);  
    } 
    
.ej16:hover .inf { 
    transform: translateY(-20px) rotate(-45deg); 
} 
