* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.tabla {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

.fila {
    display: table-row;
}

.celda {
    display: table-cell;
    width: 250px;
}

img{
    box-shadow: 1px 2px 20px rgb(58, 104, 255);
    width: 250px;
}