* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

html{
    background-color: rgb(242, 242, 242);
}

:root {
    --color-principal: rgb(48, 48, 255);
}

/* HEADER */
header {
    display: flex;
    box-shadow: 2px 2px 5px rgb(179, 179, 179);
    align-items: center;
    width: 80%;
    margin: 1% auto;
    border-radius: 80px;
    padding: 5px;
    background-color: white;
}

/* permitir posicionar el nav por encima del flujo y centrarlo */
header {
    position: relative;
}

header img {
    width: 2%;
    height: 2%;
    display: flex;
    margin-left: 1%;
}

header ul li{
    list-style: none;
    border-radius: 3px;
    padding: 5px;
}

header ul li:hover {
    background-color: rgb(219, 219, 219);
    border-radius: 3px;
}

header ul {
    display: flex;
    gap: 35px;
    text-align: center;
}

header nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 10;
}

header button {
    background-color: var(--color-principal);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 2%; 
}

header nav a {
    text-decoration: none;
    color: black;
}


header p {
    color: var(--color-principal);
    margin-left: auto; 
    margin-right: 0.6rem; 
}


/* JUST RELEASED */
.released {
    border: 1px solid var(--color-principal);
    border-radius: 20px;
    text-align: center;
    width: 33%;
    margin: 0 auto;
    padding: 10px 5px;
}

main .released p {
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.8em;
}

/* PRINCIPAL */
main .principal {
    display: flex;
    margin-top: 10%;
    align-items: center;                    
    flex-direction: column;
    margin-bottom: 10%;  
}

.principal h1 {
    text-align: center;
}

.principal button{
    background-color: var(--color-principal);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 2%;
    font-size: 1.1em;
}

/* SECUNDARIO */
.trusted {
    font-size: 1.5em;
    font-weight: 599;
    text-align: center;
    margin-bottom: 10%;
}

main h6{
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgb(182, 182, 182);
    width: 10%;
    font-weight: 600;
    padding: 8px 8px;
    border-radius: 20px;
}

main h2 {
    text-align: center;
    font-size: 2.2em;
}

/* TABLAS DE INFORMACION */
.secundario table button {
    color: var(--color-principal);
    font-size: 1.5em;
    border-radius: 50%;
    height: 50px;
    padding: 0px 15px;
    box-shadow: 2px 2px 2px rgb(194, 194, 194);
    margin-top: -60px;
}

.secundario table{
    margin: 0 auto;
    margin-top: 3%;
    border-spacing: 30px 20px;
}

.secundario table td {
    background: linear-gradient(to bottom, #ffebfa, #fdffe7);
    border-radius: 20px;
    padding: 20px;
    width:42%;
    box-shadow: 2px 2px 2px rgb(192, 192, 192);
}

.secundario table h3 {
    font-size: 2em;
    margin-left: 5%;
}

.secundario table td div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* Curva en mitad de la pagina */
.curva .shape-fill { fill: #f3eae0; }

/* TERCER */
.tercer {
    margin-top: 2%;
    padding-top: 5%;
    background-color: rgb(43, 0, 160);
    padding-bottom: 10%;
    border-bottom-left-radius: 100% 300px;
    border-bottom-right-radius: 100% 300px;
}

.tercer h6{
    color: grey;
}

/* titulo tercer */
.titulo3 {
    color: white;
    margin-top: 2%;
    text-align: center;
    margin-bottom: 3%;
}

.titulo3 h1, .titulo3 p {
    font-weight: normal;
}

.titulo3 h1 {
    margin-bottom: 1%;
}

/* Ajustes generales de los section */
.tercer .data section {
    display: flex;
    gap: 8%;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 10;
}

.data {
    border: 1px solid white;
    padding: 10px 0px;
    margin: 0 auto;
    display: block;
    width: 70%;
    border-radius: 40px;
}

/* Primer */
.data section:first-child {
    color: white;
    background-color: rgb(28, 92, 28);
    margin-bottom: 1%;
}

.data section h2{
     font-weight: normal;
     text-align: left;
}

.data section h2 {
    font-weight: normal;
}


/* segundo */
.data section:nth-child(2){
    background-color: rgb(175, 77, 38);
    margin-bottom: 1%;
    gap: 10%;
}

/* tercero */
.data section:nth-child(3){
    background-color: rgb(235, 123, 235);
    gap: 20%;
}

/* NAV HOVER */
.tabla table{
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
      border-spacing: 30px 20px;
}

.tabla img {
    width: 40px;
}

.tabla table td div{
    display: flex;
}

.tabla table td div h5 {
    margin-top: 4%;
    margin-left: 2%;
    font-size: 1.3em;
    font-weight: normal;
    color: rgb(50, 50, 190);
}

.especial {
    background-color: rgb(210, 226, 255);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(160, 193, 255);
}

.tabla {
  display: none;
}








