* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

/* Header y nav */
.logo {
    height: 100%;
    max-height: 50px;
    width: auto;
    margin: auto 20px;
    display: flex;
}

header {
    display: flex;
    border-bottom: 1px solid rgba(219, 219, 219, 0.918);
    box-shadow: 0px 2px 5px rgba(219, 219, 219, 0.918);
    height: 70px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;
    padding: 0 2rem;
}

header ul li {
    list-style: none;
    display: inline;
    font-weight: 550;
}

header a {
    text-decoration: none;
    color: black;
}

header .menu1 {
    margin-left: 20px;
}

header .menu1 li {
    margin-left: 40px;
}

header .menu2 {
    display: flex;
    gap: 40px;
    margin-right: 10px;
}

header .menu2 li {
    display: flex;
    align-items: center;
}

header button {
    padding: 10px 15px;
    background-color: rgb(92, 106, 196);
    color: white;
    border-radius: 5px;
}

header nav .menu1 li::after {
    content: "↓";
}

header nav .menu2 li:nth-child(2):after {
    content: "↓";
}

/* Foto arriba */
.lamine {
    width: 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 3% 0% 0% 16.5%;
}

/* Primer cuadrado de la foto de arriba */
.c1 {
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 14.7%;
    height: 70px;
    width: 70px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(219, 219, 219, 0.918);
}

.c1 img {
    margin-top: 28%;
    margin-left: 12%;
}

/* Segundo cuadrado de la foto de arriba */
.c2 {
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 36%;
    height: 20px;
    width: 170px;
    box-shadow: 0px 2px 5px rgba(219, 219, 219, 0.918);
    border-radius: 20px;
}

.c2 p {
    font-size: 0.7em;
    text-align: center;
    margin-top: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* galeria de imagenes */
.galeria .img1,
.img2 {
    width: 130px;
    max-width: 140px;
}

.galeria .img3 {
    width: 110px;
    max-width: 120px;
}

.galeria .img1,
.img2,
.img3 {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.galeria {
    position: relative;
}

.galeria div {
    position: absolute;
    left: 18%;
    display: flex;
    gap: 20px;
    box-shadow: 0px 0px 5px rgba(219, 219, 219, 0.918);
    width: 20%;
}