* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

/* Header y nav */
.logo {
    height: 100%;
    max-height: 50px;
    width: auto;
    margin: auto 20px;
    display: flex;
}

header {
    display: flex;
    border-bottom: 1px solid rgba(219, 219, 219, 0.918);
    box-shadow: 0px 2px 5px rgba(219, 219, 219, 0.918);
    height: 70px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;
    padding: 0 2rem;
}

header ul li {
    list-style: none;
    display: inline;
    font-weight: 550;
}

header a {
    text-decoration: none;
    color: black;
}

header .menu1 {
    margin-left: 20px;
}

header .menu1 li {
    margin-left: 40px;
}

header .menu2 {
    display: flex;
    gap: 40px;
    margin-right: 10px;
}

header .menu2 li {
    display: flex;
    align-items: center;
}

header button {
    padding: 10px 15px;
    background-color: rgb(92, 106, 196);
    color: white;
    border-radius: 5px;
}

header nav .menu1 li::after {
    content: "↓";
}

header nav .menu2 li:nth-child(2):after {
    content: "↓";
}

/* Foto arriba */
.lamine {
    width: 100%;
    height: 70%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Primer cuadrado de la foto de arriba */
.c1 {
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 14.7%;
    height: 70px;
    width: 70px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(219, 219, 219, 0.918);
}

.c1 img {
    margin-top: 28%;
    margin-left: 12%;
}

/* Segundo cuadrado de la foto de arriba */
.c2 {
    background-color: white;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 36%;
    height: 20px;
    width: 170px;
    box-shadow: 0px 2px 5px rgba(219, 219, 219, 0.918);
    border-radius: 20px;
}

.c2 p {
    font-size: 0.7em;
    text-align: center;
    margin-top: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* galeria de imagenes */
.galeria .img1,
.img2 {
    width: 100px;
}

.galeria .img3 {
    width: 90px;
}

.img1,
.img2,
.img3 {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.918);
}

/* POner las imagenes centradas con el padre */
.galeria {
    position: relative;
    margin: 3% 0% 0% 16.5%;
    width: 30%;
    height: auto;
    background-color: red;
    background-color: rgba(235, 235, 235, 0.918);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.918);
}

.galeria div {
    position: static;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 120px;
    justify-content: center;
    padding: 10px;
}

/* Titulo de la derecha */
.content1 .title {
    display: absolute;
    margin: 10% 3% 0% 10%;
}

.content1, .content2{
    display: flex;
}

.title p {
    margin: 5% 0;
}

.negrita {
    color: black;
    font-weight: bold;
}

/* contenido de abajo */
.content2 {
    margin: -2% 20%;
}

.content2 .title {
    position: absolute;
    margin: 2% 3% 0% 40%;
}


/* primera foto de abajo */
.salto {
    width: 10%;
    position: relative;
    top: 90px;
    left: 195px;
    z-index: 3;
    border-radius: 5px;
}

.movil {
    width: 180%;
    border-radius: 5px;
    margin-bottom: 100px;
}

/* Segunda foto de abajo */
.c4 {
    background-color: rgb(255, 255, 255);
    width: 15%;
    height: 200px;
    position: absolute; 
    z-index: 8;
    border-radius: 5px;
    margin: 240px 0px 0px 500px;
    box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.918);
}

.c4>section img {
    border-radius: 5px;
    width: 95%;
    display: block;
    margin: 10px auto;
    box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.918);
}

.c4 > img {
    width: 40%;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 5%;
    box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.918);
}