* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

/* Header y nav */
.logo {
    width: 7%;
    height: 38px;
    margin: 15px 20px;
}

header {
    display: flex;
    border-bottom: 1px solid rgba(194, 194, 194, 0.918);
    height: 70px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;
    padding: 0 2rem;
}

header ul li {
    list-style: none;
    display: inline;
    font-weight: 550;
}

header a {
    text-decoration: none;
    color: black;
}

header .menu1 {
    margin-left: 20px;
}

header .menu1 li {
    margin-left: 40px;
}

header .menu2 {
    display: flex;
    gap: 40px;
    margin-right: 10px;
}

header .menu2 li {
  display: flex;
  align-items: center;
}

header button {
    padding: 10px 15px;
    background-color: rgb(92, 106, 196);
    color: white;
    border-radius: 5px;
}

header nav .menu1 li::after {
    content: "↓";
}

header nav .menu2 li:nth-child(2):after {
    content: "↓";
}

/* Foto arriba */
.lamine {
    width: 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 20%;
    left: 17%;
}
